.questionContainer {
  position: relative;
}

.question {
  transform: translateX(100vw);
  position: absolute;
  transition: all 0.5s;
}

.activeQuestion {
  transform: translateX(0vw);
}

.removeQuestion {
  transform: translateX(-100vw);
}
